; Production
ECOREGISTRY_BASE_URL="https://api-external.ecoregistry.io/api"
ECOREGISTRY_ID=""
TOKEN_API_EXCHANGES=""
AUTH_EMAIL=""
AUTH_PASSWORD=""
PLATFORM_TOKEN=""

; UAT / Dev
UAT_BASE_URL="https://api-ecoregistry-dev.ecoregistry.io/api"
UAT_REGISTRY_URL="https://registry-ecoregistry-dev.ecoregistry.io/"

UAT_EXCHANGE_USERNAME=""
UAT_EXCHANGE_PASSWORD=""
UAT_EXCHANGE_NAME=""

UAT_EMAIL=""
UAT_PASSWORD=""
UAT_API_KEY=""

UAT_TRANSFER_EMAIL=""
UAT_TRANSFER_API_KEY=""
UAT_TRANSFER_COMPANY_ID=""

; Account: General (exchange owner)
GENERAL_EMAIL=""
GENERAL_API_KEY=""
GENERAL_COMPANY_ID="ECOxC_747917085_1"
GENERAL_TOKEN_API_EXCHANGES=""

; Account: Dovu test user
USER_EMAIL=""
USER_API_KEY=""
USER_COMPANY_ID="ECOxC_1159126991_19"
USER_TOKEN_API_EXCHANGES=""
